<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/websocket
		http://www.springframework.org/schema/websocket/spring-websocket.xsd
        ">

    <bean class="com.roli.common.utils.spring.SpringContextUtil"/>

    <websocket:handlers>
        <websocket:mapping path="/aps/push" handler="apsWebSocketHandler"/>
        <websocket:handshake-interceptors>
            <bean class="com.ruoli.soa.websocket.WebSocketInterceptor"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <bean id="apsWebSocketHandler" class="com.ruoli.soa.websocket.WebSocketHandler"/>

</beans>